@tailwind base;
@tailwind components;
@tailwind utilities;

.active span:last-of-type {
  width: 100%;
}

body {
  margin: 0;
  /* overflow: hidden; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgb(30 41 59) inset;
  -webkit-text-fill-color: rgb(156 163 175);
  /* -webkit-box-shadow: 0 0 0 30px rgb(30 41 59) inset !important; */
}
